<div class="container">
  <div class="row">

    <!-- sidebar ジャンル検索が入る -->
    <div class="col-xl-3 mt-4">
    </div>

    <!-- items -->
      <section class="my-4">
        <h1>商品一覧</h1>

      <!-- 新着商品リストが入る  -->
        <div></div>

      </section>

    </div>
  </div>
</div>