<div class="container">
  <div class="row">
    <div class="col-md-2 mx-auto">
     <%= render 'public/homes/sidebar', genres: @genres %>
    </div>
    <div class="col-md-10">
       <h3><strong>商品一覧</strong> (全<%= @items.count %>件)</h3>
       <div class="row mt-4">
        <%= render 'index', items: @items %>
        <div class="d-flex justify-content-center mt-4"><%= paginate @items %></div>
       </div>
    </div>
  </div>
</div>